<%= form_tag convoys_path, method: :get do %>
  <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a convoy" %>
<% end %>

<div class="container">
  <% @convoys.each do |convoy| %>
    <div class="card-kitchen">
      <div class="card__title">
        <p><%= convoy.name.upcase %></p>
      </div>
      <div data-convoy-id="<%= convoy.id %>" class="favorite_convoy_heart">
        <%= render 'heart', convoy: convoy %>
      </div>
      <div class="card__content">
        <div class="card__content-text">
          Members: <strong> <%= convoy.members&.count %> </strong><br>
          From: <strong> <%= convoy.from_location&.name %> </strong><br>
          To: <strong><%= convoy.to_location&.name %> </strong><br>
          FWD: <strong> <%= convoy.fwd_only %></strong><br>
          Start: <strong> <%= convoy.start_date&.strftime('%d-%m-%Y') %> </strong><br>
          <div class="card__links">
            <p><%= link_to 'Details', convoy_path(convoy) %></strong></p>
            <% if convoy.user_id == current_user.id %>
              <p><%= link_to 'Edit', edit_convoy_path(convoy) %></p>
              <p> <%= link_to 'Delete', convoy_path(convoy), method: :delete, data: { confirm: "Are you sure?" } %></p>
            <% end %>
          </div>
        </div>
        <div class="card__content-image">
          <%= cl_image_tag("https://images.unsplash.com/photo-1489993360877-883980cc7333?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&q=200",class: 'card__content-image-img') %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<% if policy(Convoy).create? %>
  <%= link_to 'Start a convoy!', new_convoy_path, class: 'btn btn-success' %>
<% end %>
