<div class="container">
  <% @convoys.each do |convoy| %>
    <div class="card">
      <p>Name: <%= convoy.name%></p>
      <p>Start at: <%= convoy.start_date.strftime("%d-%m-%Y")%></p>
      <p>Arrive at: <%= convoy.finish_date.strftime("%d-%m-%Y")%></p>
      <p>4WD only: <%= convoy.fwd_only%></p>
      <p>Started by: <%= convoy.user.name%></p>
    </div>
  <% end %>
</div>
