<%= form_tag convoys_path, method: :get do %>
  <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a convoy" %>
<% end %>

<div class="container">
  <% @convoys.each do |convoy| %>
    <div class="card">
      <p>Name: <%= convoy.name%></p>
      <p>Start at: <%= convoy.start_date.strftime("%d-%m-%Y")%></p>
      <p>Arrive at: <%= convoy.finish_date.strftime("%d-%m-%Y")%></p>
      <p>4WD only: <%= convoy.fwd_only%></p>
      <p>Started by: <%= convoy.user.name%></p>
      <p>From: <%= convoy.from_location.name %></p>
      <p>To: <%=convoy.to_location.name  %></p>
      <p><%= link_to 'Details', convoy_path(convoy) %></p>
      <% if convoy.user_id == current_user.id %>
        <p><%= link_to 'Edit', edit_convoy_path(convoy) %></p>
        <p> <%= link_to 'Delete', convoy_path(convoy), method: :delete, data: { confirm: "Are you sure?" } %></p>
      <% end %>
    </div>
  <% end %>
</div>

<% if policy(Convoy).create? %>
  <%= link_to 'Start a convoy!', new_convoy_path, class: 'btn btn-success' %>
<% end %>
