<div class="card">
  <div class="convoy-card-details">
    <div class="convoy-card-content" id='emieltest'>
      <%= render 'convoy_card' %>
    </div>
    <div id="hello-world">
    </div>
    <div class="convoy-card-map">
      <div id="new_map"
           style="height: 50vh; width: 50vh"
           data-convoys="<%= @geojson.to_json %>"
           data-convoy-id="<%= @convoy.id %>"
           data-mapbox-api-key=<%= ENV['MAPBOX_API_KEY'] %>>
      </div>
    </div>
  </div>
  <div class="btn btn-black", id="btn-form-dropdown">Add review!</div>
    <div class="form-wrapper form-hidden">
      <%= render 'reviews/form', convoy: @convoy, review: @review %>
  </div>
  <div id="reviews">
    <div class="reviews-count">
      <%= render 'reviews/reviewed' %>
    </div>
  </div>
</div>


