<div class="card">
  <div class="convoy-card-details">
    <div class="convoy-card-content">
      <p>Name: <%= @convoy.name %></p>
      <p>Start from: <%= @convoy.from_location.name %></p>
      <p>Finish at: <%= @convoy.to_location.name %></p>
      <p>This convoy has currently <strong><%=@convoy.members.count%> members</strong></p>

      <% if @convoy.user_id == current_user.id %>
        <p> <%= link_to 'Delete', convoy_path(@convoy), method: :delete, data: { confirm: "Are you sure?" } %></p>
        <p><%= link_to 'Edit the trip', edit_convoy_path(@convoy) %></p>
      <% else %>
        <% if @able_to_join %>
          <p><%= link_to 'Join Convoy!', convoy_members_path(@convoy), method: :post, remote: true, class: 'btn btn-black', id: "sweet-alert-demo" %></p>
        <% else %>
          <p>You are part of this convoy!</p> <%= link_to 'Remove', member_path(@convoy), method: :delete, class: 'btn btn-black', data: { confirm: 'Sure?' } %>
        <% end %>
      <% end %>
    </div>
    <div id="hello-world">

    </div>
    <div id="reviews">
      <div class="reviews-count">
        <%= render 'reviews/reviewed' %>
      </div>
    </div>
    <div class="convoy-card-map">
      <div id="new_map"
           style="height: 50vh; width: 50vh"
           data-convoys="<%= @geojson.to_json %>"
           data-convoy-id="<%= @convoy.id %>"
           data-mapbox-api-key=<%= ENV['MAPBOX_API_KEY'] %>>
      </div>
    </div>
  </div>
  <div class="btn btn-black", id="btn-form-dropdown">Review!</div>
    <div class="form-wrapper form-hidden">
      <%= render 'reviews/form', convoy: @convoy, review: @review %>
  </div>
</div>


